.about-page {
  margin-top: 0.1rem;

  padding-bottom: 8rem;
  animation: fadeIn 0.8s ease forwards;
}



.light-bg {
  background: linear-gradient(135deg,
      #faf7f2 0%,
      #fff7ea 50%,
      #ffffff 100%);
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding: 8rem 0;
}

.about-section.reverse {
  flex-direction: reverse;
}

.about-text {
  max-width: 55rem;

  & h1,
  h2 {
    font-size: 3.2rem;
    font-weight: 800;
    color: #1b1b1b;
    margin-bottom: 2rem;
  }

  & p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #4b4b4b;
  }
}

.about-image img {
  width: 100%;
  max-width: 45rem;
  border-radius: 1.6rem;
  object-fit: cover;
  filter: drop-shadow(0 0.5rem 2rem rgba(0, 0, 0, 0.1));
}


/* media queries */
/* medium */
@media (max-width: 72rem) {
  /* 1150 / 16 =  72 */
  /* 72 * 16 =  1152px*/

  .about-section {
    padding: 6rem 0;
    gap: 4rem;
  }

  .about-image img {
    max-width: 38rem;
  }

  .about-text h1,
  .about-text h2 {
    font-size: 2.8rem;
  }
}

/* small */
@media (max-width: 43rem) {

  /* 688 / 16 = 43 */
  /* 43 x 16 = 688px */
  .about-section {
    flex-direction: column-reverse;
    gap: 3.5rem;
    padding: 4.5rem 0;
    text-align: center;

  }

  .about-text {
    max-width: 100%;
  }

  .about-text h1,
  .about-text h2 {
    font-size: 2.4rem;
  }

  .about-text p{
    font-size: 1.5rem;
    line-height: 1.7;
  }

  .about-image img{
    max-width: 30rem;
    margin-inline: auto;
  }

  .about-page {
    padding-bottom: 5rem;
  }
}

