.auth-container {
    max-width: 100rem;
    margin: 3rem auto;
    display: flex;
    background-color: #fff;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease forwards;

}

/* Left Section */
.auth-left {
    flex: 1;
    background: linear-gradient(135deg, #1e90ff, #0066ff);
    color: #fff;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    & p {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-bottom: 3rem;
    }
}

.auth-switch {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.2rem 2rem;
    border-radius: 3rem;
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.35);
    }
}

.auth-right {
    flex: 1.2;
    padding: 4rem 3rem;

    & h1 {
        font-size: 3.2rem;
        margin-bottom: 1.2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
    }

    input {
        padding: 1.4rem;
        font-size: 1.6rem;
        border: 1px solid #ddd;
        border-radius: 0.6rem;
    }

    label {
        font-size: 1.4rem;
        margin-top: 1rem;
        font-weight: 600;
        color: #444;
    }
}

.auth-btn {
    margin-top: 2rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    border: none;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #0066ff;
    }
}

.or {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.4rem;
    color: #777;
}

.auth-social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2.4rem;
    color: #333;

    svg:hover {
        color: #1e90ff;
        cursor: pointer;
    }
}