.cart-page {
    padding: 1.6rem 2.4rem;

    & h1 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2.6rem;
    }
}

.cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.8rem;
    margin-bottom: 1.8rem;
    border: 1px solid #ddd;
    background-color: #fff;

    & img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.cart-info {
    flex: 1;

    & h3 {
        margin: 0 0 0.5rem;
        font-size: 2rem;
    }

    & p {
        margin: 0.5rem 0;
        font-weight: 600;
        font-size: 1.7rem;
    }
}

.cart-qty {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 1.2rem 0;

    & button:not(.remove-btn) {
        width: 26px;
        height: 26px;
        border: none;
        background-color: #333;
        color: #fff;
        font-size: 1.6rem;
        border-radius: 6px;
        cursor: pointer;
        transition: transform 0.15s ease;

        &:hover {
            background-color: #000;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    & span {
        min-width: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 1.7rem;
    }
}

.remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #e63946;
    color: #fff;

    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;

    & svg {
        font-size: 1.6rem;
    }

    &:hover {
        background-color: #c1121f;
    }

    &:active {
        transform: scale(0.95);
    }

    &:focus-visible {
        outline: 2px solid #c1121f;
        outline-offset: 2px;
    }
}




.cart-total {
    margin-top: 2rem;
    padding: 1.5rem;
    text-align: right;
    border-top: 2px solid #ddd;

    & h2 {
        margin: 0;
        font-size: 2rem;
    }
}

/* empty cart */
.empty-cart {
    text-align: center;
    font-size: 1.4rem;
    color: #555;
    margin-top: 3rem;
}


/* CartControls css */
.cart-qty-wrapper {
    display: flex;
    flex-direction: column;

}