/* Product Page Start */
.product-page {
    margin-top: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    animation: fadeIn 0.8s ease forwards;

}

.product-title {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #111;
}

.product-search {
    width: 100%;
    padding: 1.2rem 1.6rem;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    outline: none;
    transition: 0.3s ease;

    &:focus {
        border-color: #007bff;
        box-shadow: 0 0 0.4rem rgba(0, 123, 255, 0.4);
    }
}

.product-category-filter{
    display: block;
    padding: 1rem 1.4rem;
    font-size: 1.6rem;
    margin: 0 0 2rem 0;
    border: 1px solid #ddd;
    border-radius: 0.6rem;
    cursor: pointer;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 3rem;
    list-style: none;
}

/* Product Page End */


/* Product Card Start */
.product-card {
    list-style: none;
}

.product-box {
    background-color: #fff;
    padding: 1.6rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-0.4rem);
        box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.15);
    }
}

.product-img {
    width: 100%;
    /* height: 20rem; */
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.8rem;
    margin-bottom: 1.2rem;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    & p:not(:first-child) {
        font-size: 1.4rem;
        color: #111;
        font-weight: 500;
        margin-right: 0.6rem;
        text-transform: capitalize;
    }

}

.product-label {
    font-weight: 600;
    color: #222;
    margin-right: 0.6rem;

}



.product-card-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
    columns: #111;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.6rem;
}

.star {
    font-size: 1.6rem;
    color: #ccc;
}

.star.filled {
    color: #f5b50a;
}

.rating-value {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 0.4rem;
    color: #333;
}



.product-btn {
    margin-top: 1rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background-color: #005ad3;
        transform: translateY(-0.2rem);
    }
}


/* Product Card End */