*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
}

/* layout */
.container{
    max-width: 142rem;
    margin: 0 auto;
    /* padding: 1.6rem 2.4rem; */
    width: 90%; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*  start  
* to make the footer go to the bottom */
html, 
body{
    height: 100%;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/* end */

/* utitlity classe to fix the abundant gap below the pages */
.page-center {
    display: flex;
    align-items: center;
}


/* animation for every page */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


